
<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menupos-fixed menu-light ">
	<div
	class="navbar-wrapper  ">
	<div class="navbar-content scroll-div "
	>
	<ul class="nav pcoded-inner-navbar ">
		<li class="nav-item pcoded-menu-caption">
			<label>Home</label>
		</li>
		<li class="nav-item">
			<a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
				class="pcoded-mtext">Dashboard</span></a>
			</li>
			<li class="nav-item">
				<a href="" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span
					class="pcoded-mtext">Users</span></a>
				</li>
				<li class="nav-item pcoded-menu-caption">
					<label>Assets</label>
				</li>
				<li class="nav-item">
					<a href="{{ url_for('item.category') }}" class="nav-link "><span class="pcoded-micon"><i
						class="feather icon-box"></i></span><span class="pcoded-mtext">Categories</span></a>
					</li>
					<li class="nav-item">
						<a href="{{ url_for('item.item') }}" class="nav-link "><span class="pcoded-micon"><i
							class="feather icon-feather"></i></span><span class="pcoded-mtext">Items</span></a>
						</li>
						<li class="nav-item pcoded-menu-caption">
							<label>Network</label>
						</li>
						<li class="nav-item">
							<a href="/tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i
								class="feather icon-align-justify"></i></span><span class="pcoded-mtext">SIEM</span></a>
							</li>
							<li class="nav-item">
								<a href="/tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-align-justify"></i></span><span class="pcoded-mtext">APM</span></a>
								</li>
								<li class="nav-item pcoded-menu-caption">
									<label>Pelanggan</label>
								</li>
								<li class="nav-item">
									<a href="/tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i
										class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Reminder</span></a>
									</li>
									<li class="nav-item pcoded-menu-caption">
										<label>Team</label>
									</li>
									<li class="nav-item">
										<a href="/tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i
											class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Scheduler</span></a>
										</li>
									</ul>


								</div>
							</div>
						</nav>
						<!-- [ navigation menu ] end -->
